target_directory.txt
202*
.idea/vcs.xml
.idea/pythonPreHolidayTradeReport.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
